src/main/mule/testsps.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cb24dbf6-1bf8-427f-a53d-a2221b6e6018" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8d9615e5-e716-48db-a0eb-ddd80ca339bc" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="testspsFlow" doc:id="93a3b491-a8e1-4e93-95fe-11500780f8af" >
		<http:listener doc:name="Listener" doc:id="27e4501c-5cf9-4fea-9e49-0ab1c362a86f" config-ref="HTTP_Listener_config" path="/api/v1/sps/customers"/>
		<db:select doc:name="Select" doc:id="0d81278b-435b-4b15-a613-5e9bc2ecd102" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="215c1919-0ed7-4b58-b2fe-4b074ce09877" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var customers = payload
---
customers
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="986a063b-8ee9-4710-a0bf-da54d7278719" />
	</flow>
</mule>
